*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }
    :root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --secondary-color: #f01c1c;
    --secondary-shade: #0f0f0e;
    --red-color: #f41313;
    --red-shade: #b20600;
    --accent-color: #2085e4;
    }
    ul li{
    list-style: none;
    }
    a{
    text-decoration: none;
    }
    /* header section */
    header{
    background: rgb(31, 21, 228);
    background: linear-gradient(90deg, rgb(253, 252, 255) 0%, rgb(239, 239, 244)
    35%,
    rgb(240, 246, 247) 100%);
    background: linear-gradient(to right, #f0e6e6, #f0eeee, #f5f3f3);
    colour: var(--primary-color);

    }
    .nav-bar {
        padding: 30px 0;
    }
    span{
    color: var(--red-color);
    }
    ul li a{
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    }

    ul li a::before{
        content: '';
        width: 0;
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: 0.6s ease;
        }
        ul li a:hover:before{
        width: 100%;
        }
        /* button */
        .btn{
        width: 100px;
        height: 40px;
        border-radius: 8px;
        background-color: var(--red-color);
        color: var(--primary-color);
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: 0 5px;
        font-weight: 500;
        }
        .btn:haver{
        background-color: var(--red-shade);
        color: var(--primary-shade);
        border: 2px solid var(--red-color);
        }
        .content{
        height: 90vh;
        position: relative;
        }
        .right img{
        height: 230px;
        width: 200px;
        position: relative;
        z-index: 999;
        cursor: pointer;
        transition: 0.3s ease;
        left: 72.6%;
        top: -169px;
        
        }
        .right img:hover{
        filter: drop-shadow(16px 5px 20px rgb(128, 175, 189));
        }
        h4, p{
        font-family: 'poppins', sans-serif;
        }

        .color-box{
            width: 239px;
            height: 216px;
            border: 5px solid rgb(162, 230, 241);
            transform: rotate(90deg);
            position: absolute;
            top: 59px;
            right: -20px;
            }
            /* about sec */
            .about-me-sec{
            height: 80px;
            background-color: var(--secondary-shade);
            color: var(--red-shade);
            }
            .about-me-sec hr{
            border: 2px solid red;
            margin-bottom: 2rem;
            }

            h5, video{
              position: relative;
              left: 900px;
              top: -90px;
                

            }

            